
{% extends 'account/mybase.html' %}
{% block body_block %}
                       {% include 'MSG/messages.html' %}


      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12  ">
            <div class="col-sm-12 text-center">
                         <a href="{% url 'evaluteur:Mes_article_Final_detailles' %}" class="btn btn-warning"> Nombre des Articles Pour les Corriges est   : 
                         {{ evalu.artcl_a_corrige.count }} Articles  </a> 
                         <br>
                         <br>
                                 <br><br><br>
     <a href="{% url 'evaluteur:Mes_Comment' %}" class="btn btn-warning">
      you Poste  {{comments.count}} Comments,  !!!</a>
                    
                </div>
  <br><br>
<h2 style="color:blue;">Les commentiare pour chaque article ! </h2>
{% for art in evalu.artcl_a_corrige.all %}

    <br>
  <h4> Article : {{art}} </h4>

<a class=" btn btn-primary btn-comment" 
href="{% url 'evaluteur:add_comment_to_Article' pk=art.pk %}">Add Comment</a>
<br>



{% for comment in comments_All %} 
<hr>
<hr>


{% if comment in comments %}
<br>
  {% if request.user.is_authenticated or comment.approved_comments %}
    {%if comment.article == art %} 
    <h3 style="color:blue;"> My Comment !! </h3>


<h4> Create On :  {{ comment.created_date }}</h4>
<h4> Text :   {{ comment.text|safe|linebreaksbr }}</h4>
 <h4> By :    {{ comment.authorComment }} </h4>  


 {% if not comment.approved_comments %}

  <a class="btn btn-warning" href="{% url 'evaluteur:comment_remove'  pk=comment.pk %}"
   style="float:right;">
    remove comment
    <span class="glyphicon glyphicon-remove"></span>
  </a>

<br><br><br>

   {% endif %}
 {% endif %}
{% endif %}


{% else %}
    {%if comment.article == art %} 
<br>
<h3 style="color:blue;"> Comment from Other !!! </h3>
<h4> Create On :  {{ comment.created_date }}</h4>
<h4> Text :   {{ comment.text|safe|linebreaksbr }}</h4>
 <h4> By :    {{ comment.authorComment }} </h4>  


 {% if not comment.approved_comments %}

  <a class="btn btn-warning" href="{% url 'evaluteur:comment_approve' pk=comment.pk %}"
   style="float:right;">
    Approve this comment (Good one) 
    <span class="glyphicon glyphicon-ok"></span>
  </a>
<br>

   {% endif %}
<br>
    <a class=" btn btn-warning btn-comment" 
href="{% url 'evaluteur:add_comment_to_Article' pk=art.pk %}"
 style="float:right;">Repondre sur cette Comment </a>

 {% endif %}
  {% endif %}
{% endfor %}




{% endfor %}

</div>
</div>
</div>


{% endblock %}