{% extends 'Templevaluteur/Dachboardeval.html' %}
{% block content %}
{% load crispy_forms_tags %}


<h1>Voilla les articles de cette Commite : </h1>
<br><br>
    <div class="content">
      <div class="row">
        <div class="col-md-11">
          <div class="card">

          {% for ar in articles %}
       
                  <li>
              {{ ar.name }}  

          </li>

          {% endfor %}
<br><br>
    <h1> Choisii votre article </h1>  

          <form action="" method="post">
    {% csrf_token %}
    {{ add.as_table}}
   

    <input  class="btn" type="submit" name="Submit">
</form>
<br>
</div>
</div>
</div>
</div>

{% endblock %}